*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
.wrapper {
  margin: 2%;
  padding: 0;
}

body {
  background-color: #2d2c35;
  background-image: url(/imgs/ripples.png);
  background-repeat: repeat;
}

h1 {
  font-family: "Pirata One", cursive;
  font-size: 70px;
  font-weight: 500;
  color: #f9dc5c;
  text-align: center;
  width: 100%;
  align-self: center;
}

h2 {
  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  color: #efbcd5;
  padding: 40px;
}

.wrapper {
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  background-color: #403f4c;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;

  font-size: 18px;
  margin: 0 auto;
  max-width: 800px;
  padding: 20px;
  border: 3px solid #efbcd5;
}

.card-header::after {
  content: " ";
  display: block;
  width: 100%;
}

.card-body {
  min-height: 100px;
}

.card-footer {
  text-align: center;
}

.card-footer::before {
  content: " ";
  display: block;
  width: 100%;
}

.card-footer::after {
  content: " ";
  display: block;
  clear: both;
}

.btn {
  font-family: "Pirata One", cursive;
  border: none;
  background-color: #3185fc;
  border-radius: 25px;
  color: #efbcd5;
  display: inline-block;
  font-size: 40px;
  line-height: 22px;
  margin: 16px 16px 16px 20px;
  padding: 30px 50px;
  text-align: center;
  cursor: pointer;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 8px 0px;
}

.btn:hover {
  background-color: #e84855;
}

.btn:active {
  box-shadow: 0 5px #ccc;
  transform: translateY(4px);
}

btn:focus {
  outline: 0;
}

button[disabled] {
  cursor: default;
  background: #c0c7cf;
}

.float-right {
  float: right;
}

#password {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  display: block;
  width: 100%;
  padding-top: 15px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 85px;
  font-size: 1.2rem;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 1px solid #808080;
  border-radius: 6px;
  resize: none;
  overflow: hidden;
}

@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
}

.key {
  color: #3185fc;
  text-align: center;
}
